<h3>
  All-Products
</h3>
<h5>Add product:</h5>
<form #productForm="ngForm" (ngSubmit)="createProduct(productForm)">
  <label>Title:</label><br>
  <input type="text" ngModel name="title"><br>
  <label>Price:</label><br>
  <input type="text" ngModel name="price"><br>
  <label>Quantity:</label><br>
  <input type="text" ngModel name="quantity"><br>
  <label>Category:</label><br>
  <input type="text" ngModel name="category"><br>
  <label>Producer:</label><br>
  <input type="text" ngModel name="producer"><br>
  <label>Colors:</label><br>
  <input type="text" ngModel name="colors"><br>
  <label>Photos:</label><br>
  <input type="text" ngModel name="photos"><br>
  <label>about_all:</label><br>
  <textarea ngModel name="about_all"></textarea><br>
  <label>about_short:</label><br>
  <input type="text" ngModel name="about_short"><br>
  <label>Gender:</label><br>
  <input type="text" ngModel name="gender"><br>
  <label>Sale:</label><br>
  <input type="text" ngModel name="sale"><br>
  <label>Show or hide:</label><br>
  <input type="text" ngModel name="show"><br>
  <br>
  <input type="submit" value="Add product">
</form>
<div *ngFor="let product of products">
  <app-product
    [productInput]="product"
  >
  </app-product>
  <button (click)="removeProduct(product)">
    Delete</button>
</div>
