<div *ngIf="!principalUser">
<form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">
  <label>Email</label>
  <input type="text" ngModel name="email">
  <label>Password</label>
  <input type="password" ngModel name="password">
  <input type="submit" value="LOGIN">
</form>
<form #registrForm="ngForm" (ngSubmit)="registrUser(registrForm)">
  <label>Email</label>
  <input type="text" ngModel name="email">
  <label>Password</label>
  <input type="password" ngModel name="password">
  <input type="submit" value="Registration">
</form>
  <input type="submit" value="Logout" (click)="logoutUser()">
</div>
<div *ngIf="principalUser"><h3>Hello, {{user.firstName}}!</h3>
  <input type="submit" value="Logout" (click)="logoutUser()">
</div>
